.repo-card {
  width: 12em;
  height: fit-content;
  min-height: 25em;
  max-height: 25em;
  background-color: rgb(85,85,85);
  margin:10px;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 45%);
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-wrap: break-word;
  padding: 10px;
}

a {
  text-decoration: none;
}

.repo-card:hover {
  transform: scale(1.05);
}

.bottom-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forks-stars {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: 1em;
}

.forks-stars > p {
  margin: 2px;
}

.card-language {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}