.repo-card {
  width: 12em;
  height: 20em;
  background-color: rgb(85,85,85);
  margin:10px;
  border-radius: 5%;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 50%);
  font-size: 15px;
}

.repo-card:hover {
  transform: scale(1.05);
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-evenly;
}

.forks-stars {
  display: flex;
  justify-content:space-evenly;
  font-size: 1em;
}

.forks-stars > p {
  margin: 2px;
}