form {
  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
  height: 3em;
  border-radius: 100px 100px 100px 100px;
  border: none;
  position: relative;
  background-color: black;
  color: rgb(160, 160, 160);
  outline: none;
  padding-left: 50px;
}

.search-button {
  width: 5em;
  height: 2em;
  align-self: center;
  margin: 40px;
  border-radius: 10%;
  border: none;
}

.search-icon{
  height: 35px;
  position: absolute;
  top: 48%;
  left: 25.5%;
  background-color: transparent;
  border: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}