html, body, #root {
  height: 100%;
  background-color: rgb(48, 48, 48);
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

#root{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.header {
  color: white;
  width: fit-content;
}

.rf-button {
  background-color: rgb(255, 255, 255);
  border:none;
  color: rgb(0, 0, 0);
  width: 5em;
  height: 3em;
  border-radius: 6px;
}

.rf-button:hover {
  transform: scale(1.09);
  cursor: pointer;
}